body {
    font-family: arial;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

#container {
    width: 1024px;
    margin: 0px auto;
}

#header {
    text-align: center;
    background: white;
    padding: 5px;
}

#controls {
    position: relative;
    height: 600px;
}

.zone {
    position: absolute;
    cursor: pointer;
    border: 5px solid #0f0;
}

.zone:hover {
    border: 5px solid #f66;
}

img, span, div {
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
